Importamos las librerias

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Abrimos csv

In [10]:
df = pd.read_csv('Data_input/train.csv')
df

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.12,Premium,H,SI1,61.6,59.0,6.67,6.63,4.10,5363
1,1,1.14,Very Good,E,SI2,60.0,54.0,6.74,6.97,4.11,5593
2,2,0.90,Very Good,D,SI2,60.3,63.0,6.12,6.22,3.72,3534
3,3,0.71,Ideal,E,VS1,61.9,54.0,5.74,5.76,3.56,3212
4,4,0.34,Very Good,F,SI2,60.0,62.0,4.51,4.55,2.72,447
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.90,Good,D,SI1,63.8,58.0,6.13,6.09,3.90,4120
40451,40451,0.35,Ideal,D,VVS1,62.0,54.0,4.56,4.57,2.83,1266
40452,40452,0.90,Good,G,SI2,58.4,55.0,6.34,6.39,3.72,3269
40453,40453,1.21,Good,H,SI1,63.6,56.0,6.63,6.68,4.23,5893
40454,40454,0.41,Ideal,H,VVS1,61.4,56.0,4.80,4.77,2.94,1115

¿A que se refiere cada columna?

In [ ]:
df.apply(set)
#df.apply(lambda x: pd.unique(x).tolist())
#df.T.apply(lambda x: x.nunique(), axis=1)

* id --El id del diamante.
* carat-- La estructura del diamante.
* cut-- El corte que le han dado al diamante.
* color-- El color del diamante.
* clarity-- Es la calidad de los cristales del diamante.
* depth-- Se trata de la profundidad del diamante.
* table--Es el volumen total.
* x-- Constituye parte del volumen del diamante.
* y-- Constituye parte del volumen del diamante.
* z-- Constituye parte del volumen del diamante.
* price-- El precio del diamante.

In [ ]:
df.info()

Vamos a ver si la columna de precio esta Balanceada

In [ ]:
price_item_id = pd.DataFrame(df.groupby(['price']).sum().reset_index())
price_item_id

In [ ]:
ax = df.plot.bar(y='id', x='price',rot=0)

In [ ]:
by id que precios son los ms altos

In [ ]:

plt.rcParams['figure.figsize'] = (15, 7)
sns.countplot(df['id'])
plt.title('by id que precios son los ms altos', fontsize = 30)
plt.xlabel('ids', fontsize = 15)
plt.ylabel('price', fontsize = 15)

plt.show()

Chequeamos los nulos y no nulos. En amarillo los no nulos y en azul los nulos

In [ ]:
cols = df.columns
colours = ['#000099', '#ffff00'] 
sns.heatmap(df[cols].isnull(), cmap=sns.color_palette(colours))

#¡Nuestro dataset esta limpio de nulos!

In [ ]:
df.isna().sum()

Seleccionamos solo las columnas relevantes

In [ ]:

df = df.iloc[:,1:]
df.head()

#A excepción del id todas las dimensiones parecen relevantes a la hora de entrenar el modelo

Según la base de datos, table es la multiplicacion de X,Y,Z por lo que la eliminamos de nuestra base de datos ya que es informacion que podría ser redundante.

In [ ]:

df.drop(["x",'y','z'],axis=1,inplace=True)
df

¿Que datos son categoricos y cuales numericos? A continuación convertimos los datos categoricos a númericos?

In [ ]:
df.dtypes

Vamos a pasarlos a numericos para poder visualizar la correlacion de todas las columnas,ya que si no son numericas no nos da el dato

In [4]:
def categoric_to_numeric (df):
    df.replace({'cut':{'Ideal':4,'Premium':5,'Very Good':3,'Good':2,'Fair':1}}, inplace=True)
    df.replace({'color':{'D':7,'E':6,'F':5,'G':4,'H':3,'I':2,'J':1}}, inplace=True)
    df.replace({'clarity':{'IF':8, 'VVS1':7, 'VVS2':6,'VS1':5,'VS2':4,'SI1':3,'SI2':2,'I1':1}}, inplace=True)
    pass

In [ ]:
categoric_to_numeric(df)
df.head()

In [ ]:
sns.heatmap(df.corr(), annot=True)

Echemos un ojo a las distribuciones por columnas

In [ ]:
df.hist(figsize=[20,20], bins=30)

Utilizaremos get_dummies para obtener los valores , en diferentes columnas.

In [ ]:
train = pd.get_dummies(df)

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(18,10))
sns.boxplot(data=train.drop(columns=('price')), orient="v", palette="Set1",)

Guardamos...

In [ ]:
train.to_csv('Data_output/train_clean.csv')

## Limpiamos el csv de predict con los mismos parametros

In [11]:
predict = pd.read_csv('Data_input/predict.csv')
predict

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1          1   1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2          2   1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3          3   0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4          4   0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   2.04       Good     D     SI1   61.9   60.0  8.15  8.11  5.03
13481  13481   0.31      Ideal     G      IF   61.7   55.0  4.37  4.39  2.70
13482  13482   0.52      Ideal     D    VVS2   62.0   56.0  5.14  5.18  3.20
13483  13483   0.50    Premium     F     SI1   59.1   58.0  5.23  5.19  3.08
13484  13484   0.53  Very Good     G     SI2   63.4   55.0  5.10  5.19  3.26

[13485 rows x 10 columns]

In [ ]:
predict = predict.iloc[:,1:7] #Quitamos id, x, y,x
categoric_to_numeric(predict) #Pasamos a numerico 
predict_clean = pd.get_dummies(predict)#utilizamos get dummies

In [8]:
predict_clean.to_csv('Data_output/predict_clean.csv')